<table mat-table [dataSource]="carpoolData" class="table-container mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="editEntry(element)">Edit</button>
      <button mat-raised-button color="primary" (click)="deleteEntry(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="other-container">
  <button mat-raised-button color="primary" (click)="addEntry()">Add</button>
  <p>
    <b>
      Driver recommendation: {{recommendedDriver}}
    </b>
  </p>
</div>
